.highlight {
  background-color: yellow; }

.red {
  color: red; }

strong {
  color: red; }

h1, h2, h3 {
  text-align: center; }

.ps {
  text-align: left; }

header {
  background: tranparent url("crowd.jpg") top left; }
